* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
/* header styling */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 230px;
  align-items: center;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
