* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 827px;
}
/* navbar styling */

header {
  height: 837px;
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, 23px 38px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 230px;
  align-items: center;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.nav-link {
  color: #474747;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
.nav-button {
  width: 150px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 675px;
}

.banner-left {
  margin-left: 230px;
}

.banner-right {
  margin-right: 40px;
}
.banner-intro {
  color: #474747;
  font-size: 45px;
  font-weight: 700;
}

.banner-name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 580px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner-btn-1 {
  width: 200px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: var(--white-color, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
}

.banner-btn-2 {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* About section style */
.section-about {
  width: 1140px;
  height: 550px;
  margin: 130px auto;
  border-radius: 10px;
  background: #fff8f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info-title,
.info-description {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.info-description {
  color: #474747;
  font-weight: 700;
}

.info-container {
  display: flex;
  gap: 50px;
}

/* skills section design */
.section-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.skill-items-container {
  display: flex;
}

.skill-item {
  width: 267px;
  height: 377px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 24px;
}

.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill-description {
  width: 200px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* resume-section-style */
.section-resume {
  display: flex;
  flex-direction: column;
}

.resume-top {
  margin: 115px auto;
}
.resume-box-1,
.resume-box-2 {
  width: 50%;
}

.resume-box-1 {
  padding-left: 230px;
}

.resume-box-2 {
  padding-right: 230px;
}
.resume-container {
  display: flex;
  gap: 24px;
}
.box-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.resume-description {
  width: 500px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

hr {
  height: 1px;
  background: #d1d1d1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.resume-btn {
  margin: 50px auto;
}
